qa-artifacts/tasks/2026-05-02/fix-n8n-route-by-action-switch-node/backup-youlya-whatsapp-main.json
{
  "updatedAt": "2026-05-02T15:17:18.252Z",
  "createdAt": "2026-05-02T15:17:18.252Z",
  "id": "joqfame4HXG775JO",
  "name": "Youlya WhatsApp Main",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "youlya-whatsapp",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "string": [
            {
              "value1": "={{$json.data.messageType || $json.data.type}}",
              "operation": "equal",
              "value2": "conversation"
            },
            {
              "value1": "={{$json.data.messageType || $json.data.type}}",
              "operation": "equal",
              "value2": "extendedTextMessage"
            },
            {
              "value1": "={{$json.data.messageType || $json.data.type}}",
              "operation": "equal",
              "value2": "audioMessage"
            }
          ]
        }
      },
      "id": "Filter Message Type",
      "name": "Filter Message Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        420,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json.data || {};\nconst message = data.message || {};\nconst key = data.key || {};\nreturn [{\n  json: {\n    conversation_id: key.remoteJid,\n    customer_id: key.remoteJid,\n    provider_message_id: key.id,\n    text: message.conversation ?? message.extendedTextMessage?.text ?? \"\",\n    message_type: \"text\",\n    channel: \"whatsapp_evolution\",\n    language: \"ar-EG\",\n    tone: \"neutral\",\n    store_id: \"youlya\",\n    remote_jid: key.remoteJid,\n    instance_name: $node[\"Webhook\"].json.instance || \"YoulyaMain\"\n  }\n}];"
      },
      "id": "Normalize Message",
      "name": "Normalize Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.APP_INTERNAL_URL}}/api/internal/messages/turn",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-secret",
              "value": "={{$env.INTERNAL_API_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "Call Turn Endpoint",
      "name": "Call Turn Endpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        120
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.action}}",
                    "rightValue": "duplicate_ignored",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{$json.action}}",
                    "rightValue": "handoff",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{$json.action}}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{$json.action}}",
                    "rightValue": "ai_disabled",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "fallbackOutput": 4
      },
      "id": "Route by Action",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1140,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.EVOLUTION_API_URL}}/message/sendText/{{$env.EVOLUTION_INSTANCE}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.EVOLUTION_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"number\": \"{{$node[\"Normalize Message\"].json[\"conversation_id\"]}}\", \"text\": \"{{$json.reply}}\"}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "Send Text",
      "name": "Send Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1360,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.APP_INTERNAL_URL}}/api/internal/dead-letter",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"raw_input\": $json, \"error_message\": $json.error?.message || 'turn endpoint failed', \"conversation_id\": $node[\"Normalize Message\"].json[\"conversation_id\"]}"
      },
      "id": "Dead Letter",
      "name": "Dead Letter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        420
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Message Type": {
      "main": [
        [
          {
            "node": "Normalize Message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Normalize Message": {
      "main": [
        [
          {
            "node": "Call Turn Endpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Turn Endpoint": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [],
        [
          {
            "node": "Send Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "529092d1-58c6-460e-8d73-14275af602ce",
  "activeVersionId": "529092d1-58c6-460e-8d73-14275af602ce",
  "versionCounter": 6,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-02T15:17:18.252Z",
      "createdAt": "2026-05-02T15:17:18.252Z",
      "role": "workflow:owner",
      "workflowId": "joqfame4HXG775JO",
      "projectId": "mOtgNeJlBhvmEWsM",
      "project": {
        "updatedAt": "2026-04-29T13:15:06.032Z",
        "createdAt": "2025-12-02T09:11:28.665Z",
        "id": "mOtgNeJlBhvmEWsM",
        "name": "ahmed proideaegypt@gmail.com <proideaegypt@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "b3269cfb-a6e4-413f-ae29-17fbff9e2c07",
        "projectRelations": [
          {
            "updatedAt": "2025-12-02T09:11:28.665Z",
            "createdAt": "2025-12-02T09:11:28.665Z",
            "userId": "b3269cfb-a6e4-413f-ae29-17fbff9e2c07",
            "projectId": "mOtgNeJlBhvmEWsM",
            "user": {
              "updatedAt": "2026-05-02T21:07:05.621Z",
              "createdAt": "2025-12-02T09:11:28.117Z",
              "id": "b3269cfb-a6e4-413f-ae29-17fbff9e2c07",
              "email": "proideaegypt@gmail.com",
              "firstName": "ahmed",
              "lastName": "proideaegypt@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-02T10:40:00.411Z",
                "personalization_survey_n8n_version": "1.122.4",
                "companySize": "<20",
                "companyType": "ecommerce",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "TAfiadIWix0pNAti",
                "userActivatedAt": 1765298870918,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1768746437011
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-05-02",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-02T15:17:18.483Z",
    "createdAt": "2026-05-02T15:17:18.483Z",
    "versionId": "529092d1-58c6-460e-8d73-14275af602ce",
    "workflowId": "joqfame4HXG775JO",
    "nodes": [
      {
        "parameters": {
          "path": "youlya-whatsapp",
          "httpMethod": "POST",
          "responseMode": "onReceived"
        },
        "id": "Webhook",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          200,
          200
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [],
            "string": [
              {
                "value1": "={{$json.data.messageType || $json.data.type}}",
                "operation": "equal",
                "value2": "conversation"
              },
              {
                "value1": "={{$json.data.messageType || $json.data.type}}",
                "operation": "equal",
                "value2": "extendedTextMessage"
              },
              {
                "value1": "={{$json.data.messageType || $json.data.type}}",
                "operation": "equal",
                "value2": "audioMessage"
              }
            ]
          }
        },
        "id": "Filter Message Type",
        "name": "Filter Message Type",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          420,
          200
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $json.data || {};\nconst message = data.message || {};\nconst key = data.key || {};\nreturn [{\n  json: {\n    conversation_id: key.remoteJid,\n    customer_id: key.remoteJid,\n    provider_message_id: key.id,\n    text: message.conversation ?? message.extendedTextMessage?.text ?? \"\",\n    message_type: \"text\",\n    channel: \"whatsapp_evolution\",\n    language: \"ar-EG\",\n    tone: \"neutral\",\n    store_id: \"youlya\",\n    remote_jid: key.remoteJid,\n    instance_name: $node[\"Webhook\"].json.instance || \"YoulyaMain\"\n  }\n}];"
        },
        "id": "Normalize Message",
        "name": "Normalize Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          660,
          120
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{$env.APP_INTERNAL_URL}}/api/internal/messages/turn",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-internal-secret",
                "value": "={{$env.INTERNAL_API_SECRET}}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{$json}}",
          "options": {
            "timeout": 45000
          }
        },
        "id": "Call Turn Endpoint",
        "name": "Call Turn Endpoint",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          900,
          120
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false
                  },
                  "conditions": [
                    {
                      "leftValue": "={{$json.action}}",
                      "rightValue": "duplicate_ignored",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "conditions": [
                    {
                      "leftValue": "={{$json.action}}",
                      "rightValue": "handoff",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "conditions": [
                    {
                      "leftValue": "={{$json.action}}",
                      "rightValue": "error",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "conditions": [
                    {
                      "leftValue": "={{$json.action}}",
                      "rightValue": "ai_disabled",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "fallbackOutput": 4
        },
        "id": "Route by Action",
        "name": "Route by Action",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          1140,
          120
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{$env.EVOLUTION_API_URL}}/message/sendText/{{$env.EVOLUTION_INSTANCE}}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{$env.EVOLUTION_API_KEY}}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"number\": \"{{$node[\"Normalize Message\"].json[\"conversation_id\"]}}\", \"text\": \"{{$json.reply}}\"}",
          "options": {
            "timeout": 10000
          }
        },
        "id": "Send Text",
        "name": "Send Text",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1360,
          260
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{$env.APP_INTERNAL_URL}}/api/internal/dead-letter",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"raw_input\": $json, \"error_message\": $json.error?.message || 'turn endpoint failed', \"conversation_id\": $node[\"Normalize Message\"].json[\"conversation_id\"]}"
        },
        "id": "Dead Letter",
        "name": "Dead Letter",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1120,
          420
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Filter Message Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Message Type": {
        "main": [
          [
            {
              "node": "Normalize Message",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Normalize Message": {
        "main": [
          [
            {
              "node": "Call Turn Endpoint",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Turn Endpoint": {
        "main": [
          [
            {
              "node": "Route by Action",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route by Action": {
        "main": [
          [],
          [
            {
              "node": "Send Text",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Text",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Text",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "ahmed proideaegypt@gmail.com",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-02T15:17:49.360Z",
        "id": 240,
        "workflowId": "joqfame4HXG775JO",
        "versionId": "529092d1-58c6-460e-8d73-14275af602ce",
        "event": "activated",
        "userId": "b3269cfb-a6e4-413f-ae29-17fbff9e2c07"
      },
      {
        "createdAt": "2026-05-02T15:17:50.053Z",
        "id": 241,
        "workflowId": "joqfame4HXG775JO",
        "versionId": "529092d1-58c6-460e-8d73-14275af602ce",
        "event": "activated",
        "userId": "b3269cfb-a6e4-413f-ae29-17fbff9e2c07"
      }
    ]
  }
}