qa-artifacts/tasks/2026-05-04/apply-haidi-agent-draft-to-active-workflow/backup-youlya-whatsapp-main.json
{
  "updatedAt": "2026-05-04T03:10:49.152Z",
  "createdAt": "2026-05-02T15:17:18.252Z",
  "id": "joqfame4HXG775JO",
  "name": "Youlya WhatsApp Main",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "youlya-whatsapp",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        200,
        200
      ],
      "webhookId": "youlya-whatsapp-main-webhook"
    },
    {
      "parameters": {
        "jsCode": "const root = $json.body ?? $json;\nconst data = root.data ?? root;\nconst key = data.key ?? {};\nconst message = data.message ?? {};\n\nconst fromMe =\n  key.fromMe === true ||\n  data.fromMe === true ||\n  root.fromMe === true;\n\nconst remoteJid =\n  key.remoteJid ||\n  data.remoteJid ||\n  data.remote_jid ||\n  root.remoteJid ||\n  root.remote_jid ||\n  data.from ||\n  root.from ||\n  \"\";\n\nconst text =\n  message.conversation ||\n  message.extendedTextMessage?.text ||\n  message.imageMessage?.caption ||\n  data.text ||\n  root.text ||\n  \"\";\n\nconst messageType =\n  data.messageType ||\n  data.type ||\n  root.messageType ||\n  root.type ||\n  \"\";\n\nconst ignoredReasons = [];\n\nif (fromMe) ignoredReasons.push(\"fromMe_outgoing_message\");\nif (!remoteJid) ignoredReasons.push(\"missing_remote_jid\");\nif (String(remoteJid).includes(\"status@broadcast\")) ignoredReasons.push(\"status_broadcast\");\nif (String(remoteJid).endsWith(\"@g.us\")) ignoredReasons.push(\"group_message_ignored\");\nif (!String(text).trim()) ignoredReasons.push(\"empty_text\");\n\nif (ignoredReasons.length > 0) {\n  return [];\n}\n\nreturn [\n  {\n    json: {\n      ...$json,\n      _guard: {\n        passed: true,\n        remoteJid,\n        messageType,\n        textPreview: String(text).slice(0, 40),\n      },\n    },\n  },\n];"
      },
      "id": "Guard Inbound Customer Message",
      "name": "Guard Inbound Customer Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "string": [
            {
              "value1": "={{$json.data.messageType || $json.data.type}}",
              "operation": "equal",
              "value2": "conversation"
            },
            {
              "value1": "={{$json.data.messageType || $json.data.type}}",
              "operation": "equal",
              "value2": "extendedTextMessage"
            },
            {
              "value1": "={{$json.data.messageType || $json.data.type}}",
              "operation": "equal",
              "value2": "audioMessage"
            }
          ]
        }
      },
      "id": "Filter Message Type",
      "name": "Filter Message Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const root = $json.body ?? $json;\nconst data = root.data ?? root;\nconst key = data.key ?? {};\nif (key.fromMe === true || data.fromMe === true || root.fromMe === true) {\n  return [];\n}\nconst message = data.message || {};\nconst remoteJid = String(key.remoteJid || \"\");\nconst sendNumber = remoteJid\n  .replace(/@s\\.whatsapp\\.net$/i, \"\")\n  .replace(/@c\\.us$/i, \"\")\n  .replace(/@g\\.us$/i, \"\")\n  .replace(/\\D/g, \"\");\nreturn [{\n  json: {\n    conversation_id: remoteJid,\n    customer_id: remoteJid,\n    provider_message_id: key.id,\n    text: message.conversation ?? message.extendedTextMessage?.text ?? \"\",\n    message_type: \"text\",\n    channel: \"whatsapp_evolution\",\n    language: \"ar-EG\",\n    tone: \"neutral\",\n    store_id: \"youlya\",\n    remote_jid: remoteJid,\n    send_number: sendNumber,\n    instance_name: $node[\"Webhook\"].json.body?.instance || $node[\"Webhook\"].json.instance || \"YoulyaMain\"\n  }\n}];"
      },
      "id": "Normalize Message",
      "name": "Normalize Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.APP_INTERNAL_URL}}/api/internal/messages/turn",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-secret",
              "value": "={{$env.INTERNAL_API_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "Call Turn Endpoint",
      "name": "Call Turn Endpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        120
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const rawNumber =\n  $json.number ||\n  $node[\"Normalize Message\"].json.remote_jid ||\n  $node[\"Normalize Message\"].json.conversation_id;\n\nconst number = String(rawNumber || \"\")\n  .replace(\"@s.whatsapp.net\", \"\")\n  .replace(\"@c.us\", \"\")\n  .replace(/\\D/g, \"\");\n\nconst text =\n  $json.reply ||\n  $json.message ||\n  \"حصل خطأ تقني بسيط، ممكن تبعتي الرسالة تاني؟\";\n\nreturn [\n  {\n    json: {\n      ...$json,\n      evolutionPayload: {\n        number,\n        text,\n      },\n    },\n  },\n];"
      },
      "id": "Prepare Evolution Payload",
      "name": "Prepare Evolution Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.EVOLUTION_API_URL}}/message/sendText/{{$env.EVOLUTION_INSTANCE}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.EVOLUTION_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.evolutionPayload && $json.evolutionPayload.number ? $json.evolutionPayload.number : $json.number, text: $json.evolutionPayload && $json.evolutionPayload.text ? $json.evolutionPayload.text : $json.reply }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "Send Text",
      "name": "Send Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2020,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.APP_INTERNAL_URL}}/api/internal/dead-letter",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"raw_input\": $json, \"error_message\": $json.error?.message || 'turn endpoint failed', \"conversation_id\": $node[\"Normalize Message\"].json[\"conversation_id\"]}"
      },
      "id": "Dead Letter",
      "name": "Dead Letter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1360,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst app = $json;\nconst appReply = String(app.reply || app.message || \"حصل خطأ تقني بسيط، ممكن تبعتي الرسالة تاني؟\").trim();\nconst appAction = String(app.action || \"ai_reply\");\nconst appIntent = String(app.intent || \"fallback\");\nconst haidiSessionKey = String(app.haidi_session_key || app.haidi_memory?.sessionKey || \"\");\nconst haidiContext = app.haidi_context || {};\nconst commerceFacts = haidiContext.commerceFacts || {};\nconst products = Array.isArray(commerceFacts.products) ? commerceFacts.products : [];\nconst allowedUpsells = Array.isArray(commerceFacts.allowedUpsells) ? commerceFacts.allowedUpsells : [];\nconst language = String(haidiContext.language || \"ar-EG\");\nconst isArabic = language.toLowerCase().startsWith(\"ar\");\nconst styleInstructions = haidiContext.styleInstructions || {};\nconst safetyNotes = [];\n\nfunction unique(values) {\n  return [...new Set(values.filter((value) => typeof value === \"string\" && value.trim()))];\n}\n\nfunction stripInternalDetails(text) {\n  return String(text)\n    .replace(/\\b(gid:\\/\\/[^\\s]+|provider_message_id|conversation_id|customer_id|store_id|variant_id|shopify_order_id|shopify_variant_id|remote_jid|test-instance|#MOCK-[A-Z0-9_-]+|mock-[A-Z0-9_-]+)\\b/gi, \"\")\n    .replace(/\\s{2,}/g, \" \")\n    .trim();\n}\n\nfunction hasUnsafeOrderClaim(text) {\n  const lower = String(text).toLowerCase();\n  const phrases = [\n    \"تم تأكيد الأوردر\",\n    \"الأوردر اتعمل\",\n    \"الأوردر اتأكد\",\n    \"تم إنشاء الأوردر\",\n    \"order confirmed\",\n    \"order created\",\n    \"order placed\",\n    \"your order is confirmed\",\n  ];\n  return phrases.some((phrase) => lower.includes(phrase.toLowerCase()));\n}\n\nfunction hasPriceClaim(text) {\n  return /\\b\\d+(?:[.,]\\d+)?\\s*(?:جنيه|ج\\.م|egp|ريال|sar|usd)\\b/i.test(String(text));\n}\n\nfunction hasStockClaim(text) {\n  return /\\b(?:متوفر|غير متوفر|in stock|out of stock|stock|خلص|نفد)\\b/i.test(String(text));\n}\n\nfunction warmPrefix(text) {\n  const prefix = isArabic ? \"أكيد يا قمر، \" : \"Sure, \";\n  const value = String(text).trim();\n  if (!value) return value;\n  if (\n    value.startsWith(prefix) ||\n    value.startsWith(\"تمام يا قمر،\") ||\n    value.startsWith(\"ولا يهمك يا قمر،\") ||\n    value.startsWith(\"أكيد،\") ||\n    value.startsWith(\"Sure,\")\n  ) {\n    return value;\n  }\n  return prefix + value;\n}\n\nfunction appendUpsell(text) {\n  if (appAction === \"handoff\" || appAction === \"error\") return text;\n  if (!allowedUpsells.length) return text;\n  const upsell = allowedUpsells[0];\n  const title = String(upsell.title || \"\").trim();\n  if (!title) return text;\n  if (hasPriceClaim(text) || hasStockClaim(text)) return text;\n  const suffix = isArabic\n    ? \" ولو تحبي، عندي كمان \" + title + \" مناسب جدًا.\"\n    : \" If you want, I also have \" + title + \".\";\n  safetyNotes.push(\"upsell_applied\");\n  return text + suffix;\n}\n\nfunction deriveIntentLabel() {\n  if (appAction === \"handoff\") return \"handoff\";\n  if (appAction === \"order_created\") return \"confirm_order\";\n  if (appAction === \"product_results\") return \"product_search\";\n  if (appIntent === \"SELECT_PRODUCT\") return \"select_product\";\n  if (appIntent === \"CONFIRM_ORDER\") return \"confirm_order\";\n  if (appIntent === \"COLLECT_ADDRESS\") return \"collect_address\";\n  if (appIntent === \"UNCLEAR\") return \"unclear\";\n  if (appIntent === \"PRODUCT_SEARCH\") return \"product_search\";\n  if (appIntent === \"ORDER_STATUS\" || appIntent === \"CANCEL_REQUEST\") return \"support\";\n  if (appIntent === \"OTHER\") return \"fallback\";\n  return \"fallback\";\n}\n\nfunction deriveTone() {\n  if (appAction === \"handoff\") return \"empathetic\";\n  if (appAction === \"order_created\") return \"excited\";\n  if (appAction === \"product_results\") return \"friendly\";\n  if (appIntent === \"CONFIRM_ORDER\") return \"concise\";\n  if (appIntent === \"UNCLEAR\") return \"empathetic\";\n  return \"friendly\";\n}\n\nfunction deriveNextStep() {\n  const goal = String(haidiContext.replyGoal || \"fallback\");\n  if (goal === \"present_product_options\") return \"ask_size\";\n  if (goal === \"ask_size\") return \"ask_size\";\n  if (goal === \"confirm_cart\") return \"confirm_order\";\n  if (goal === \"collect_address\") return \"collect_address\";\n  if (goal === \"order_confirmation\") return \"close_conversation\";\n  if (goal === \"handoff\") return \"human_handoff\";\n  return \"continue\";\n}\n\nlet finalReply = stripInternalDetails(appReply);\n\nif (!finalReply) {\n  finalReply = isArabic ? \"ممكن توضحي أكتر؟\" : \"Could you clarify a bit more?\";\n  safetyNotes.push(\"fallback_reply_used\");\n}\n\nif (appAction === \"handoff\") {\n  finalReply = isArabic ? \"تمام يا قمر، هحولك لفريق الدعم دلوقتي 🤍\" : \"I’ll hand this over to a human agent now.\";\n  safetyNotes.push(\"handoff_preserved\");\n} else if (appAction === \"order_created\") {\n  finalReply = warmPrefix(finalReply);\n  safetyNotes.push(\"order_confirmed_by_app\");\n} else if (appAction === \"product_results\" || appIntent === \"PRODUCT_SEARCH\") {\n  finalReply = warmPrefix(finalReply);\n  if (Array.isArray(styleInstructions.mustInclude) && styleInstructions.mustInclude.length > 0) {\n    const missing = styleInstructions.mustInclude.filter((part) => !finalReply.includes(part));\n    if (missing.length > 0) {\n      finalReply = finalReply + \" \" + missing.slice(0, 2).join(\" \");\n    }\n  }\n  finalReply = appendUpsell(finalReply);\n} else if (appIntent === \"SELECT_PRODUCT\" || appIntent === \"CONFIRM_ORDER\" || appIntent === \"COLLECT_ADDRESS\") {\n  finalReply = warmPrefix(finalReply);\n} else if (appIntent === \"UNCLEAR\") {\n  finalReply = isArabic ? \"ممكن توضحيلي أكتر؟\" : \"Could you clarify a bit more?\";\n} else {\n  finalReply = warmPrefix(finalReply);\n}\n\nif (Array.isArray(styleInstructions.mustNotSay)) {\n  for (const banned of styleInstructions.mustNotSay) {\n    if (banned && finalReply.includes(banned)) {\n      finalReply = finalReply.replaceAll(banned, \"\").replace(/\\s{2,}/g, \" \").trim();\n    }\n  }\n}\n\nif (hasUnsafeOrderClaim(finalReply) && appAction !== \"order_created\") {\n  finalReply = appReply;\n  safetyNotes.push(\"unsafe_order_claim_avoided\");\n}\n\nconst output = {\n  final_reply: finalReply,\n  intent_label: deriveIntentLabel(),\n  tone: deriveTone(),\n  used_upsell: Boolean(safetyNotes.includes(\"upsell_applied\")),\n  recommended_next_step: deriveNextStep(),\n  haidi_session_key: haidiSessionKey,\n  safety_notes: unique([\n    ...safetyNotes,\n    appAction === \"order_created\" ? \"app_confirmed_order\" : \"app_action:\" + appAction,\n    products.length > 0 ? \"products_available:\" + String(products.length) : \"no_products_available\",\n  ]),\n};\n\nreturn [{ json: output }];\n"
      },
      "id": "Haidi AI Sales Agent",
      "name": "Haidi AI Sales Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst app = $node[\"Call Turn Endpoint\"].json || {};\nconst appReply = String(app.reply || app.message || \"حصل خطأ تقني بسيط، ممكن تبعتي الرسالة تاني؟\");\nconst appAction = String(app.action || \"error\");\nconst haidiContext = app.haidi_context || {};\nconst facts = haidiContext.commerceFacts || {};\nconst products = Array.isArray(facts.products) ? facts.products : [];\nconst raw = $json;\nconst haidiSessionKey = String((raw && raw.haidi_session_key) || (raw && raw.haidi_memory && raw.haidi_memory.sessionKey) || \"\");\n\nfunction fallback(reason) {\n  return [{\n    json: {\n      ...app,\n      reply: appReply,\n      action: appAction,\n      haidi_valid: false,\n      haidi_fallback: true,\n      validation_reason: reason,\n      number: $node[\"Normalize Message\"].json.send_number,\n    },\n  }];\n}\n\nlet candidate = raw;\nif (typeof candidate === \"string\") {\n  try {\n    candidate = JSON.parse(candidate);\n  } catch (error) {\n    return fallback(\"invalid_json\");\n  }\n}\nif (candidate && candidate.output && typeof candidate.output === \"object\") {\n  candidate = candidate.output;\n}\nif (!candidate || typeof candidate !== \"object\") {\n  return fallback(\"not_an_object\");\n}\n\nconst finalReply = candidate.final_reply;\nif (typeof finalReply !== \"string\" || !finalReply.trim()) {\n  return fallback(\"missing_final_reply\");\n}\n\nconst unsafeOrderClaims = [\n  \"تم تأكيد الأوردر\",\n  \"الأوردر اتعمل\",\n  \"الأوردر اتأكد\",\n  \"تم إنشاء الأوردر\",\n  \"order confirmed\",\n  \"order created\",\n  \"order placed\",\n  \"your order is confirmed\",\n];\nif (appAction !== \"order_created\") {\n  const lower = finalReply.toLowerCase();\n  if (unsafeOrderClaims.some((phrase) => lower.includes(phrase.toLowerCase()))) {\n    return fallback(\"unsafe_order_claim\");\n  }\n}\n\nconst internalIdPatterns = [\n  /gid:\\/\\//i,\n  /provider_message_id/i,\n  /conversation_id/i,\n  /customer_id/i,\n  /store_id/i,\n  /variant_id/i,\n  /shopify_order_id/i,\n  /shopify_variant_id/i,\n  /remote_jid/i,\n  /#MOCK-/i,\n  /mock-/i,\n];\nif (internalIdPatterns.some((pattern) => pattern.test(finalReply))) {\n  return fallback(\"internal_identifier_leak\");\n}\n\nconst lowerFinalReply = finalReply.toLowerCase();\nconst hasPriceClaim =\n  /\\d/.test(finalReply) &&\n  (\n    lowerFinalReply.includes(\"جنيه\") ||\n    lowerFinalReply.includes(\"ج.م\") ||\n    lowerFinalReply.includes(\"egp\") ||\n    lowerFinalReply.includes(\"ريال\") ||\n    lowerFinalReply.includes(\"sar\") ||\n    lowerFinalReply.includes(\"usd\")\n  );\nconst hasStockClaim =\n  lowerFinalReply.includes(\"متوفر\") ||\n  lowerFinalReply.includes(\"غير متوفر\") ||\n  lowerFinalReply.includes(\"available\") ||\n  lowerFinalReply.includes(\"in stock\") ||\n  lowerFinalReply.includes(\"out of stock\") ||\n  lowerFinalReply.includes(\"stock\") ||\n  lowerFinalReply.includes(\"خلص\") ||\n  lowerFinalReply.includes(\"نفد\");\nconst knownPrices = products\n  .map((product) => product.price)\n  .filter((price) => typeof price === \"number\" && Number.isFinite(price))\n  .map((price) => String(price));\nif (hasPriceClaim && !knownPrices.some((price) => finalReply.includes(price))) {\n  return fallback(\"unsupported_price_claim\");\n}\nif (hasStockClaim) {\n  const hasAvailableFact = products.some((product) => product.available === true);\n  const hasUnavailableFact = products.some((product) => product.available === false);\n  const mentionsAvailable = lowerFinalReply.includes(\"متوفر\") || lowerFinalReply.includes(\"available\") || lowerFinalReply.includes(\"in stock\");\n  const mentionsUnavailable = lowerFinalReply.includes(\"غير متوفر\") || lowerFinalReply.includes(\"out of stock\") || lowerFinalReply.includes(\"نفد\") || lowerFinalReply.includes(\"خلص\");\n  if (mentionsAvailable && !hasAvailableFact) {\n    return fallback(\"unsupported_stock_claim\");\n  }\n  if (mentionsUnavailable && !hasUnavailableFact && facts.blockedReason !== \"out_of_stock\") {\n    return fallback(\"unsupported_stock_claim\");\n  }\n}\n\nconst allowedIntents = [\n  \"greeting\",\n  \"product_search\",\n  \"select_product\",\n  \"collect_address\",\n  \"confirm_order\",\n  \"handoff\",\n  \"unclear\",\n  \"support\",\n  \"fallback\",\n];\nconst allowedTones = [\"friendly\", \"premium\", \"concise\", \"excited\", \"empathetic\", \"neutral\"];\n\nconst intentLabel =\n  typeof candidate.intent_label === \"string\" && allowedIntents.includes(candidate.intent_label)\n    ? candidate.intent_label\n    : \"fallback\";\nconst tone =\n  typeof candidate.tone === \"string\" && allowedTones.includes(candidate.tone)\n    ? candidate.tone\n    : \"friendly\";\nconst usedUpsell = typeof candidate.used_upsell === \"boolean\" ? candidate.used_upsell : false;\nconst recommendedNextStep =\n  typeof candidate.recommended_next_step === \"string\" ? candidate.recommended_next_step : \"\";\nconst safetyNotes = Array.isArray(candidate.safety_notes)\n  ? candidate.safety_notes.filter((item) => typeof item === \"string\")\n  : [];\n\nreturn [{\n  json: {\n    ...app,\n    reply: finalReply.trim(),\n    action: appAction,\n    haidi_valid: true,\n    haidi_fallback: false,\n    haidi_output: {\n      final_reply: finalReply.trim(),\n      intent_label: intentLabel,\n      tone,\n      used_upsell: usedUpsell,\n      recommended_next_step: recommendedNextStep,\n      haidi_session_key: haidiSessionKey,\n      safety_notes: safetyNotes,\n    },\n    haidi_session_key: haidiSessionKey,\n    number: $node[\"Normalize Message\"].json.send_number,\n  },\n}];\n"
      },
      "id": "Validate Haidi Output",
      "name": "Validate Haidi Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst normalized = $node[\"Normalize Message\"].json || {};\nconst conversationId = String(normalized.conversation_id || \"\");\nconst remoteJid = String(normalized.remote_jid || \"\");\nconst sessionKey = String(conversationId || remoteJid || \"\").trim();\n\nreturn [{\n  json: {\n    ...$json,\n    haidi_memory: {\n      sessionKey,\n      conversation_id: conversationId,\n      remote_jid: remoteJid,\n    },\n    haidi_session_key: sessionKey,\n  },\n}];\n"
      },
      "id": "Haidi Session Memory",
      "name": "Haidi Session Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const action = $json.action || \"error\";\n\nconst reply =\n  $json.reply ||\n  $json.message ||\n  \"حصل خطأ تقني بسيط، ممكن تبعتي الرسالة تاني؟\";\n\nconst normalized = $node[\"Normalize Message\"].json;\nconst fallbackNumber = String(normalized.send_number || normalized.remote_jid || normalized.conversation_id || \"\")\n  .replace(/@s\\.whatsapp\\.net$/i, \"\")\n  .replace(/@c\\.us$/i, \"\")\n  .replace(/@g\\.us$/i, \"\")\n  .replace(/\\D/g, \"\");\n\nconst number = $json.number || normalized.send_number || fallbackNumber;\nconst shouldSend = action !== \"duplicate_ignored\" && Boolean(reply) && Boolean(number);\n\nreturn [\n  {\n    json: {\n      ...$json,\n      action,\n      reply,\n      shouldSend,\n      number,\n    },\n  },\n];"
      },
      "id": "Prepare Reply",
      "name": "Prepare Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.shouldSend}}",
              "value2": true
            }
          ],
          "string": []
        }
      },
      "id": "Should Send Reply",
      "name": "Should Send Reply",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1580,
        120
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Guard Inbound Customer Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard Inbound Customer Message": {
      "main": [
        [
          {
            "node": "Filter Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Message Type": {
      "main": [
        [
          {
            "node": "Normalize Message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Normalize Message": {
      "main": [
        [
          {
            "node": "Call Turn Endpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Turn Endpoint": {
      "main": [
        [
          {
            "node": "Haidi Session Memory",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Dead Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Reply": {
      "main": [
        [
          {
            "node": "Should Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Reply": {
      "main": [
        [
          {
            "node": "Prepare Evolution Payload",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare Evolution Payload": {
      "main": [
        [
          {
            "node": "Send Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Haidi AI Sales Agent": {
      "main": [
        [
          {
            "node": "Validate Haidi Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Haidi Output": {
      "main": [
        [
          {
            "node": "Prepare Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Haidi Session Memory": {
      "main": [
        [
          {
            "node": "Haidi AI Sales Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "b6698f08-5667-4e9b-92d1-2c24ff7e170f",
  "activeVersionId": "b6698f08-5667-4e9b-92d1-2c24ff7e170f",
  "versionCounter": 83,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-02T15:17:18.252Z",
      "createdAt": "2026-05-02T15:17:18.252Z",
      "role": "workflow:owner",
      "workflowId": "joqfame4HXG775JO",
      "projectId": "mOtgNeJlBhvmEWsM",
      "project": {
        "updatedAt": "2026-04-29T13:15:06.032Z",
        "createdAt": "2025-12-02T09:11:28.665Z",
        "id": "mOtgNeJlBhvmEWsM",
        "name": "ahmed proideaegypt@gmail.com <proideaegypt@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "b3269cfb-a6e4-413f-ae29-17fbff9e2c07",
        "projectRelations": [
          {
            "updatedAt": "2025-12-02T09:11:28.665Z",
            "createdAt": "2025-12-02T09:11:28.665Z",
            "userId": "b3269cfb-a6e4-413f-ae29-17fbff9e2c07",
            "projectId": "mOtgNeJlBhvmEWsM",
            "user": {
              "updatedAt": "2026-05-04T03:14:06.188Z",
              "createdAt": "2025-12-02T09:11:28.117Z",
              "id": "b3269cfb-a6e4-413f-ae29-17fbff9e2c07",
              "email": "proideaegypt@gmail.com",
              "firstName": "ahmed",
              "lastName": "proideaegypt@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-02T10:40:00.411Z",
                "personalization_survey_n8n_version": "1.122.4",
                "companySize": "<20",
                "companyType": "ecommerce",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "TAfiadIWix0pNAti",
                "userActivatedAt": 1765298870918,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1768746437011
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-05-03",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-04T03:10:49.159Z",
    "createdAt": "2026-05-04T03:10:49.159Z",
    "versionId": "b6698f08-5667-4e9b-92d1-2c24ff7e170f",
    "workflowId": "joqfame4HXG775JO",
    "nodes": [
      {
        "parameters": {
          "path": "youlya-whatsapp",
          "httpMethod": "POST",
          "responseMode": "onReceived",
          "options": {}
        },
        "id": "Webhook",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          200,
          200
        ],
        "webhookId": "youlya-whatsapp-main-webhook"
      },
      {
        "parameters": {
          "jsCode": "const root = $json.body ?? $json;\nconst data = root.data ?? root;\nconst key = data.key ?? {};\nconst message = data.message ?? {};\n\nconst fromMe =\n  key.fromMe === true ||\n  data.fromMe === true ||\n  root.fromMe === true;\n\nconst remoteJid =\n  key.remoteJid ||\n  data.remoteJid ||\n  data.remote_jid ||\n  root.remoteJid ||\n  root.remote_jid ||\n  data.from ||\n  root.from ||\n  \"\";\n\nconst text =\n  message.conversation ||\n  message.extendedTextMessage?.text ||\n  message.imageMessage?.caption ||\n  data.text ||\n  root.text ||\n  \"\";\n\nconst messageType =\n  data.messageType ||\n  data.type ||\n  root.messageType ||\n  root.type ||\n  \"\";\n\nconst ignoredReasons = [];\n\nif (fromMe) ignoredReasons.push(\"fromMe_outgoing_message\");\nif (!remoteJid) ignoredReasons.push(\"missing_remote_jid\");\nif (String(remoteJid).includes(\"status@broadcast\")) ignoredReasons.push(\"status_broadcast\");\nif (String(remoteJid).endsWith(\"@g.us\")) ignoredReasons.push(\"group_message_ignored\");\nif (!String(text).trim()) ignoredReasons.push(\"empty_text\");\n\nif (ignoredReasons.length > 0) {\n  return [];\n}\n\nreturn [\n  {\n    json: {\n      ...$json,\n      _guard: {\n        passed: true,\n        remoteJid,\n        messageType,\n        textPreview: String(text).slice(0, 40),\n      },\n    },\n  },\n];"
        },
        "id": "Guard Inbound Customer Message",
        "name": "Guard Inbound Customer Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          420,
          200
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [],
            "string": [
              {
                "value1": "={{$json.data.messageType || $json.data.type}}",
                "operation": "equal",
                "value2": "conversation"
              },
              {
                "value1": "={{$json.data.messageType || $json.data.type}}",
                "operation": "equal",
                "value2": "extendedTextMessage"
              },
              {
                "value1": "={{$json.data.messageType || $json.data.type}}",
                "operation": "equal",
                "value2": "audioMessage"
              }
            ]
          }
        },
        "id": "Filter Message Type",
        "name": "Filter Message Type",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          640,
          200
        ]
      },
      {
        "parameters": {
          "jsCode": "const root = $json.body ?? $json;\nconst data = root.data ?? root;\nconst key = data.key ?? {};\nif (key.fromMe === true || data.fromMe === true || root.fromMe === true) {\n  return [];\n}\nconst message = data.message || {};\nconst remoteJid = String(key.remoteJid || \"\");\nconst sendNumber = remoteJid\n  .replace(/@s\\.whatsapp\\.net$/i, \"\")\n  .replace(/@c\\.us$/i, \"\")\n  .replace(/@g\\.us$/i, \"\")\n  .replace(/\\D/g, \"\");\nreturn [{\n  json: {\n    conversation_id: remoteJid,\n    customer_id: remoteJid,\n    provider_message_id: key.id,\n    text: message.conversation ?? message.extendedTextMessage?.text ?? \"\",\n    message_type: \"text\",\n    channel: \"whatsapp_evolution\",\n    language: \"ar-EG\",\n    tone: \"neutral\",\n    store_id: \"youlya\",\n    remote_jid: remoteJid,\n    send_number: sendNumber,\n    instance_name: $node[\"Webhook\"].json.body?.instance || $node[\"Webhook\"].json.instance || \"YoulyaMain\"\n  }\n}];"
        },
        "id": "Normalize Message",
        "name": "Normalize Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          120
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{$env.APP_INTERNAL_URL}}/api/internal/messages/turn",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-internal-secret",
                "value": "={{$env.INTERNAL_API_SECRET}}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{$json}}",
          "options": {
            "timeout": 45000
          }
        },
        "id": "Call Turn Endpoint",
        "name": "Call Turn Endpoint",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1120,
          120
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const rawNumber =\n  $json.number ||\n  $node[\"Normalize Message\"].json.remote_jid ||\n  $node[\"Normalize Message\"].json.conversation_id;\n\nconst number = String(rawNumber || \"\")\n  .replace(\"@s.whatsapp.net\", \"\")\n  .replace(\"@c.us\", \"\")\n  .replace(/\\D/g, \"\");\n\nconst text =\n  $json.reply ||\n  $json.message ||\n  \"حصل خطأ تقني بسيط، ممكن تبعتي الرسالة تاني؟\";\n\nreturn [\n  {\n    json: {\n      ...$json,\n      evolutionPayload: {\n        number,\n        text,\n      },\n    },\n  },\n];"
        },
        "id": "Prepare Evolution Payload",
        "name": "Prepare Evolution Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1800,
          120
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{$env.EVOLUTION_API_URL}}/message/sendText/{{$env.EVOLUTION_INSTANCE}}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{$env.EVOLUTION_API_KEY}}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ number: $json.evolutionPayload && $json.evolutionPayload.number ? $json.evolutionPayload.number : $json.number, text: $json.evolutionPayload && $json.evolutionPayload.text ? $json.evolutionPayload.text : $json.reply }) }}",
          "options": {
            "timeout": 10000
          }
        },
        "id": "Send Text",
        "name": "Send Text",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          2020,
          120
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{$env.APP_INTERNAL_URL}}/api/internal/dead-letter",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"raw_input\": $json, \"error_message\": $json.error?.message || 'turn endpoint failed', \"conversation_id\": $node[\"Normalize Message\"].json[\"conversation_id\"]}"
        },
        "id": "Dead Letter",
        "name": "Dead Letter",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1360,
          420
        ]
      },
      {
        "parameters": {
          "jsCode": "\nconst app = $json;\nconst appReply = String(app.reply || app.message || \"حصل خطأ تقني بسيط، ممكن تبعتي الرسالة تاني؟\").trim();\nconst appAction = String(app.action || \"ai_reply\");\nconst appIntent = String(app.intent || \"fallback\");\nconst haidiSessionKey = String(app.haidi_session_key || app.haidi_memory?.sessionKey || \"\");\nconst haidiContext = app.haidi_context || {};\nconst commerceFacts = haidiContext.commerceFacts || {};\nconst products = Array.isArray(commerceFacts.products) ? commerceFacts.products : [];\nconst allowedUpsells = Array.isArray(commerceFacts.allowedUpsells) ? commerceFacts.allowedUpsells : [];\nconst language = String(haidiContext.language || \"ar-EG\");\nconst isArabic = language.toLowerCase().startsWith(\"ar\");\nconst styleInstructions = haidiContext.styleInstructions || {};\nconst safetyNotes = [];\n\nfunction unique(values) {\n  return [...new Set(values.filter((value) => typeof value === \"string\" && value.trim()))];\n}\n\nfunction stripInternalDetails(text) {\n  return String(text)\n    .replace(/\\b(gid:\\/\\/[^\\s]+|provider_message_id|conversation_id|customer_id|store_id|variant_id|shopify_order_id|shopify_variant_id|remote_jid|test-instance|#MOCK-[A-Z0-9_-]+|mock-[A-Z0-9_-]+)\\b/gi, \"\")\n    .replace(/\\s{2,}/g, \" \")\n    .trim();\n}\n\nfunction hasUnsafeOrderClaim(text) {\n  const lower = String(text).toLowerCase();\n  const phrases = [\n    \"تم تأكيد الأوردر\",\n    \"الأوردر اتعمل\",\n    \"الأوردر اتأكد\",\n    \"تم إنشاء الأوردر\",\n    \"order confirmed\",\n    \"order created\",\n    \"order placed\",\n    \"your order is confirmed\",\n  ];\n  return phrases.some((phrase) => lower.includes(phrase.toLowerCase()));\n}\n\nfunction hasPriceClaim(text) {\n  return /\\b\\d+(?:[.,]\\d+)?\\s*(?:جنيه|ج\\.م|egp|ريال|sar|usd)\\b/i.test(String(text));\n}\n\nfunction hasStockClaim(text) {\n  return /\\b(?:متوفر|غير متوفر|in stock|out of stock|stock|خلص|نفد)\\b/i.test(String(text));\n}\n\nfunction warmPrefix(text) {\n  const prefix = isArabic ? \"أكيد يا قمر، \" : \"Sure, \";\n  const value = String(text).trim();\n  if (!value) return value;\n  if (\n    value.startsWith(prefix) ||\n    value.startsWith(\"تمام يا قمر،\") ||\n    value.startsWith(\"ولا يهمك يا قمر،\") ||\n    value.startsWith(\"أكيد،\") ||\n    value.startsWith(\"Sure,\")\n  ) {\n    return value;\n  }\n  return prefix + value;\n}\n\nfunction appendUpsell(text) {\n  if (appAction === \"handoff\" || appAction === \"error\") return text;\n  if (!allowedUpsells.length) return text;\n  const upsell = allowedUpsells[0];\n  const title = String(upsell.title || \"\").trim();\n  if (!title) return text;\n  if (hasPriceClaim(text) || hasStockClaim(text)) return text;\n  const suffix = isArabic\n    ? \" ولو تحبي، عندي كمان \" + title + \" مناسب جدًا.\"\n    : \" If you want, I also have \" + title + \".\";\n  safetyNotes.push(\"upsell_applied\");\n  return text + suffix;\n}\n\nfunction deriveIntentLabel() {\n  if (appAction === \"handoff\") return \"handoff\";\n  if (appAction === \"order_created\") return \"confirm_order\";\n  if (appAction === \"product_results\") return \"product_search\";\n  if (appIntent === \"SELECT_PRODUCT\") return \"select_product\";\n  if (appIntent === \"CONFIRM_ORDER\") return \"confirm_order\";\n  if (appIntent === \"COLLECT_ADDRESS\") return \"collect_address\";\n  if (appIntent === \"UNCLEAR\") return \"unclear\";\n  if (appIntent === \"PRODUCT_SEARCH\") return \"product_search\";\n  if (appIntent === \"ORDER_STATUS\" || appIntent === \"CANCEL_REQUEST\") return \"support\";\n  if (appIntent === \"OTHER\") return \"fallback\";\n  return \"fallback\";\n}\n\nfunction deriveTone() {\n  if (appAction === \"handoff\") return \"empathetic\";\n  if (appAction === \"order_created\") return \"excited\";\n  if (appAction === \"product_results\") return \"friendly\";\n  if (appIntent === \"CONFIRM_ORDER\") return \"concise\";\n  if (appIntent === \"UNCLEAR\") return \"empathetic\";\n  return \"friendly\";\n}\n\nfunction deriveNextStep() {\n  const goal = String(haidiContext.replyGoal || \"fallback\");\n  if (goal === \"present_product_options\") return \"ask_size\";\n  if (goal === \"ask_size\") return \"ask_size\";\n  if (goal === \"confirm_cart\") return \"confirm_order\";\n  if (goal === \"collect_address\") return \"collect_address\";\n  if (goal === \"order_confirmation\") return \"close_conversation\";\n  if (goal === \"handoff\") return \"human_handoff\";\n  return \"continue\";\n}\n\nlet finalReply = stripInternalDetails(appReply);\n\nif (!finalReply) {\n  finalReply = isArabic ? \"ممكن توضحي أكتر؟\" : \"Could you clarify a bit more?\";\n  safetyNotes.push(\"fallback_reply_used\");\n}\n\nif (appAction === \"handoff\") {\n  finalReply = isArabic ? \"تمام يا قمر، هحولك لفريق الدعم دلوقتي 🤍\" : \"I’ll hand this over to a human agent now.\";\n  safetyNotes.push(\"handoff_preserved\");\n} else if (appAction === \"order_created\") {\n  finalReply = warmPrefix(finalReply);\n  safetyNotes.push(\"order_confirmed_by_app\");\n} else if (appAction === \"product_results\" || appIntent === \"PRODUCT_SEARCH\") {\n  finalReply = warmPrefix(finalReply);\n  if (Array.isArray(styleInstructions.mustInclude) && styleInstructions.mustInclude.length > 0) {\n    const missing = styleInstructions.mustInclude.filter((part) => !finalReply.includes(part));\n    if (missing.length > 0) {\n      finalReply = finalReply + \" \" + missing.slice(0, 2).join(\" \");\n    }\n  }\n  finalReply = appendUpsell(finalReply);\n} else if (appIntent === \"SELECT_PRODUCT\" || appIntent === \"CONFIRM_ORDER\" || appIntent === \"COLLECT_ADDRESS\") {\n  finalReply = warmPrefix(finalReply);\n} else if (appIntent === \"UNCLEAR\") {\n  finalReply = isArabic ? \"ممكن توضحيلي أكتر؟\" : \"Could you clarify a bit more?\";\n} else {\n  finalReply = warmPrefix(finalReply);\n}\n\nif (Array.isArray(styleInstructions.mustNotSay)) {\n  for (const banned of styleInstructions.mustNotSay) {\n    if (banned && finalReply.includes(banned)) {\n      finalReply = finalReply.replaceAll(banned, \"\").replace(/\\s{2,}/g, \" \").trim();\n    }\n  }\n}\n\nif (hasUnsafeOrderClaim(finalReply) && appAction !== \"order_created\") {\n  finalReply = appReply;\n  safetyNotes.push(\"unsafe_order_claim_avoided\");\n}\n\nconst output = {\n  final_reply: finalReply,\n  intent_label: deriveIntentLabel(),\n  tone: deriveTone(),\n  used_upsell: Boolean(safetyNotes.includes(\"upsell_applied\")),\n  recommended_next_step: deriveNextStep(),\n  haidi_session_key: haidiSessionKey,\n  safety_notes: unique([\n    ...safetyNotes,\n    appAction === \"order_created\" ? \"app_confirmed_order\" : \"app_action:\" + appAction,\n    products.length > 0 ? \"products_available:\" + String(products.length) : \"no_products_available\",\n  ]),\n};\n\nreturn [{ json: output }];\n"
        },
        "id": "Haidi AI Sales Agent",
        "name": "Haidi AI Sales Agent",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1360,
          120
        ]
      },
      {
        "parameters": {
          "jsCode": "\nconst app = $node[\"Call Turn Endpoint\"].json || {};\nconst appReply = String(app.reply || app.message || \"حصل خطأ تقني بسيط، ممكن تبعتي الرسالة تاني؟\");\nconst appAction = String(app.action || \"error\");\nconst haidiContext = app.haidi_context || {};\nconst facts = haidiContext.commerceFacts || {};\nconst products = Array.isArray(facts.products) ? facts.products : [];\nconst raw = $json;\nconst haidiSessionKey = String((raw && raw.haidi_session_key) || (raw && raw.haidi_memory && raw.haidi_memory.sessionKey) || \"\");\n\nfunction fallback(reason) {\n  return [{\n    json: {\n      ...app,\n      reply: appReply,\n      action: appAction,\n      haidi_valid: false,\n      haidi_fallback: true,\n      validation_reason: reason,\n      number: $node[\"Normalize Message\"].json.send_number,\n    },\n  }];\n}\n\nlet candidate = raw;\nif (typeof candidate === \"string\") {\n  try {\n    candidate = JSON.parse(candidate);\n  } catch (error) {\n    return fallback(\"invalid_json\");\n  }\n}\nif (candidate && candidate.output && typeof candidate.output === \"object\") {\n  candidate = candidate.output;\n}\nif (!candidate || typeof candidate !== \"object\") {\n  return fallback(\"not_an_object\");\n}\n\nconst finalReply = candidate.final_reply;\nif (typeof finalReply !== \"string\" || !finalReply.trim()) {\n  return fallback(\"missing_final_reply\");\n}\n\nconst unsafeOrderClaims = [\n  \"تم تأكيد الأوردر\",\n  \"الأوردر اتعمل\",\n  \"الأوردر اتأكد\",\n  \"تم إنشاء الأوردر\",\n  \"order confirmed\",\n  \"order created\",\n  \"order placed\",\n  \"your order is confirmed\",\n];\nif (appAction !== \"order_created\") {\n  const lower = finalReply.toLowerCase();\n  if (unsafeOrderClaims.some((phrase) => lower.includes(phrase.toLowerCase()))) {\n    return fallback(\"unsafe_order_claim\");\n  }\n}\n\nconst internalIdPatterns = [\n  /gid:\\/\\//i,\n  /provider_message_id/i,\n  /conversation_id/i,\n  /customer_id/i,\n  /store_id/i,\n  /variant_id/i,\n  /shopify_order_id/i,\n  /shopify_variant_id/i,\n  /remote_jid/i,\n  /#MOCK-/i,\n  /mock-/i,\n];\nif (internalIdPatterns.some((pattern) => pattern.test(finalReply))) {\n  return fallback(\"internal_identifier_leak\");\n}\n\nconst lowerFinalReply = finalReply.toLowerCase();\nconst hasPriceClaim =\n  /\\d/.test(finalReply) &&\n  (\n    lowerFinalReply.includes(\"جنيه\") ||\n    lowerFinalReply.includes(\"ج.م\") ||\n    lowerFinalReply.includes(\"egp\") ||\n    lowerFinalReply.includes(\"ريال\") ||\n    lowerFinalReply.includes(\"sar\") ||\n    lowerFinalReply.includes(\"usd\")\n  );\nconst hasStockClaim =\n  lowerFinalReply.includes(\"متوفر\") ||\n  lowerFinalReply.includes(\"غير متوفر\") ||\n  lowerFinalReply.includes(\"available\") ||\n  lowerFinalReply.includes(\"in stock\") ||\n  lowerFinalReply.includes(\"out of stock\") ||\n  lowerFinalReply.includes(\"stock\") ||\n  lowerFinalReply.includes(\"خلص\") ||\n  lowerFinalReply.includes(\"نفد\");\nconst knownPrices = products\n  .map((product) => product.price)\n  .filter((price) => typeof price === \"number\" && Number.isFinite(price))\n  .map((price) => String(price));\nif (hasPriceClaim && !knownPrices.some((price) => finalReply.includes(price))) {\n  return fallback(\"unsupported_price_claim\");\n}\nif (hasStockClaim) {\n  const hasAvailableFact = products.some((product) => product.available === true);\n  const hasUnavailableFact = products.some((product) => product.available === false);\n  const mentionsAvailable = lowerFinalReply.includes(\"متوفر\") || lowerFinalReply.includes(\"available\") || lowerFinalReply.includes(\"in stock\");\n  const mentionsUnavailable = lowerFinalReply.includes(\"غير متوفر\") || lowerFinalReply.includes(\"out of stock\") || lowerFinalReply.includes(\"نفد\") || lowerFinalReply.includes(\"خلص\");\n  if (mentionsAvailable && !hasAvailableFact) {\n    return fallback(\"unsupported_stock_claim\");\n  }\n  if (mentionsUnavailable && !hasUnavailableFact && facts.blockedReason !== \"out_of_stock\") {\n    return fallback(\"unsupported_stock_claim\");\n  }\n}\n\nconst allowedIntents = [\n  \"greeting\",\n  \"product_search\",\n  \"select_product\",\n  \"collect_address\",\n  \"confirm_order\",\n  \"handoff\",\n  \"unclear\",\n  \"support\",\n  \"fallback\",\n];\nconst allowedTones = [\"friendly\", \"premium\", \"concise\", \"excited\", \"empathetic\", \"neutral\"];\n\nconst intentLabel =\n  typeof candidate.intent_label === \"string\" && allowedIntents.includes(candidate.intent_label)\n    ? candidate.intent_label\n    : \"fallback\";\nconst tone =\n  typeof candidate.tone === \"string\" && allowedTones.includes(candidate.tone)\n    ? candidate.tone\n    : \"friendly\";\nconst usedUpsell = typeof candidate.used_upsell === \"boolean\" ? candidate.used_upsell : false;\nconst recommendedNextStep =\n  typeof candidate.recommended_next_step === \"string\" ? candidate.recommended_next_step : \"\";\nconst safetyNotes = Array.isArray(candidate.safety_notes)\n  ? candidate.safety_notes.filter((item) => typeof item === \"string\")\n  : [];\n\nreturn [{\n  json: {\n    ...app,\n    reply: finalReply.trim(),\n    action: appAction,\n    haidi_valid: true,\n    haidi_fallback: false,\n    haidi_output: {\n      final_reply: finalReply.trim(),\n      intent_label: intentLabel,\n      tone,\n      used_upsell: usedUpsell,\n      recommended_next_step: recommendedNextStep,\n      haidi_session_key: haidiSessionKey,\n      safety_notes: safetyNotes,\n    },\n    haidi_session_key: haidiSessionKey,\n    number: $node[\"Normalize Message\"].json.send_number,\n  },\n}];\n"
        },
        "id": "Validate Haidi Output",
        "name": "Validate Haidi Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1580,
          120
        ]
      },
      {
        "parameters": {
          "jsCode": "\nconst normalized = $node[\"Normalize Message\"].json || {};\nconst conversationId = String(normalized.conversation_id || \"\");\nconst remoteJid = String(normalized.remote_jid || \"\");\nconst sessionKey = String(conversationId || remoteJid || \"\").trim();\n\nreturn [{\n  json: {\n    ...$json,\n    haidi_memory: {\n      sessionKey,\n      conversation_id: conversationId,\n      remote_jid: remoteJid,\n    },\n    haidi_session_key: sessionKey,\n  },\n}];\n"
        },
        "id": "Haidi Session Memory",
        "name": "Haidi Session Memory",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1360,
          120
        ]
      },
      {
        "parameters": {
          "jsCode": "const action = $json.action || \"error\";\n\nconst reply =\n  $json.reply ||\n  $json.message ||\n  \"حصل خطأ تقني بسيط، ممكن تبعتي الرسالة تاني؟\";\n\nconst normalized = $node[\"Normalize Message\"].json;\nconst fallbackNumber = String(normalized.send_number || normalized.remote_jid || normalized.conversation_id || \"\")\n  .replace(/@s\\.whatsapp\\.net$/i, \"\")\n  .replace(/@c\\.us$/i, \"\")\n  .replace(/@g\\.us$/i, \"\")\n  .replace(/\\D/g, \"\");\n\nconst number = $json.number || normalized.send_number || fallbackNumber;\nconst shouldSend = action !== \"duplicate_ignored\" && Boolean(reply) && Boolean(number);\n\nreturn [\n  {\n    json: {\n      ...$json,\n      action,\n      reply,\n      shouldSend,\n      number,\n    },\n  },\n];"
        },
        "id": "Prepare Reply",
        "name": "Prepare Reply",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1360,
          120
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{$json.shouldSend}}",
                "value2": true
              }
            ],
            "string": []
          }
        },
        "id": "Should Send Reply",
        "name": "Should Send Reply",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1580,
          120
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Guard Inbound Customer Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guard Inbound Customer Message": {
        "main": [
          [
            {
              "node": "Filter Message Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Message Type": {
        "main": [
          [
            {
              "node": "Normalize Message",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Normalize Message": {
        "main": [
          [
            {
              "node": "Call Turn Endpoint",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Turn Endpoint": {
        "main": [
          [
            {
              "node": "Haidi Session Memory",
              "type": "main",
              "index": 0
            }
          ]
        ],
        "error": [
          [
            {
              "node": "Dead Letter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Reply": {
        "main": [
          [
            {
              "node": "Should Send Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Should Send Reply": {
        "main": [
          [
            {
              "node": "Prepare Evolution Payload",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Prepare Evolution Payload": {
        "main": [
          [
            {
              "node": "Send Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Haidi AI Sales Agent": {
        "main": [
          [
            {
              "node": "Validate Haidi Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Haidi Output": {
        "main": [
          [
            {
              "node": "Prepare Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Haidi Session Memory": {
        "main": [
          [
            {
              "node": "Haidi AI Sales Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "ahmed proideaegypt@gmail.com",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-04T03:10:49.516Z",
        "id": 281,
        "workflowId": "joqfame4HXG775JO",
        "versionId": "b6698f08-5667-4e9b-92d1-2c24ff7e170f",
        "event": "activated",
        "userId": "b3269cfb-a6e4-413f-ae29-17fbff9e2c07"
      }
    ]
  }
}