n8n/workflows/youlya-daily-shopify-product-sync.json
{
  "name": "Youlya Daily Shopify Product Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.APP_INTERNAL_URL}}/api/internal/shopify/sync-products",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-secret",
              "value": "={{$env.INTERNAL_API_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"store_id\": \"youlya\",\n  \"mode\": \"full\",\n  \"includeInventory\": true,\n  \"source\": \"n8n_daily_shopify_product_sync\"\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "sync-products",
      "name": "Sync Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-ok",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.APP_INTERNAL_URL}}/api/internal/failed-events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-secret",
              "value": "={{$env.INTERNAL_API_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"storeSlug\": \"youlya\",\n  \"source\": \"n8n_daily_shopify_product_sync\",\n  \"provider\": \"shopify\",\n  \"errorCode\": $json.errorCode || 'SYNC_FAILED',\n  \"errorMessage\": $json.message || 'Daily sync failed',\n  \"payload\": $json,\n  \"retryCount\": 0\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "dead-letter",
      "name": "Dead Letter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        400
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Sync Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Products": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [],
        [
          {
            "node": "Dead Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "daily-sync-v1",
  "meta": {
    "instanceId": "youlya-daily-shopify-sync"
  },
  "id": "youlya-daily-shopify-sync",
  "tags": []
}
