qa-artifacts/tasks/2026-05-03/activate-n8n-daily-shopify-product-sync/backup-youlya-daily-shopify-product-sync.json
{
  "updatedAt": "2026-05-03T14:45:41.456Z",
  "createdAt": "2026-05-03T14:43:09.983Z",
  "id": "H7l8PiCss9ZeqGug",
  "name": "Youlya Daily Shopify Product Sync",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<REDACTED>",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-secret",
              "value": "={{$env.INTERNAL_API_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"store_id\": \"youlya\",\n  \"mode\": \"full\",\n  \"includeInventory\": true,\n  \"source\": \"n8n_daily_shopify_product_sync\"\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "sync-products",
      "name": "Sync Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-ok",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<REDACTED>",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-secret",
              "value": "={{$env.INTERNAL_API_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"storeSlug\": \"youlya\",\n  \"source\": \"n8n_daily_shopify_product_sync\",\n  \"provider\": \"shopify\",\n  \"errorCode\": $json.errorCode || 'SYNC_FAILED',\n  \"errorMessage\": $json.message || 'Daily sync failed',\n  \"payload\": $json,\n  \"retryCount\": 0\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "dead-letter",
      "name": "Dead Letter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        400
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Sync Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Products": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Dead Letter",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "<REDACTED>"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "02704dbc-a4b7-4e64-aa57-e0033267fac5",
  "activeVersionId": null,
  "versionCounter": 9,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-03T14:43:09.983Z",
      "createdAt": "2026-05-03T14:43:09.983Z",
      "role": "workflow:owner",
      "workflowId": "H7l8PiCss9ZeqGug",
      "projectId": "mOtgNeJlBhvmEWsM",
      "project": {
        "updatedAt": "2026-04-29T13:15:06.032Z",
        "createdAt": "2025-12-02T09:11:28.665Z",
        "id": "mOtgNeJlBhvmEWsM",
        "name": "ahmed proideaegypt@gmail.com <proideaegypt@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "b3269cfb-a6e4-413f-ae29-17fbff9e2c07",
        "projectRelations": [
          {
            "updatedAt": "2025-12-02T09:11:28.665Z",
            "createdAt": "2025-12-02T09:11:28.665Z",
            "userId": "b3269cfb-a6e4-413f-ae29-17fbff9e2c07",
            "projectId": "mOtgNeJlBhvmEWsM",
            "user": {
              "updatedAt": "2026-05-03T14:01:33.198Z",
              "createdAt": "2025-12-02T09:11:28.117Z",
              "id": "b3269cfb-a6e4-413f-ae29-17fbff9e2c07",
              "email": "proideaegypt@gmail.com",
              "firstName": "ahmed",
              "lastName": "proideaegypt@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-02T10:40:00.411Z",
                "personalization_survey_n8n_version": "1.122.4",
                "companySize": "<20",
                "companyType": "ecommerce",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "TAfiadIWix0pNAti",
                "userActivatedAt": 1765298870918,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1768746437011
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-05-02",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}