qa-artifacts/tasks/2026-05-03/register-youlya-n8n-production-webhook/backup-youlya-whatsapp-main.json
{
  "updatedAt": "2026-05-02T21:15:30.762Z",
  "createdAt": "2026-05-02T15:17:18.252Z",
  "id": "joqfame4HXG775JO",
  "name": "Youlya WhatsApp Main",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "youlya-whatsapp",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "string": [
            {
              "value1": "={{$json.data.messageType || $json.data.type}}",
              "operation": "equal",
              "value2": "conversation"
            },
            {
              "value1": "={{$json.data.messageType || $json.data.type}}",
              "operation": "equal",
              "value2": "extendedTextMessage"
            },
            {
              "value1": "={{$json.data.messageType || $json.data.type}}",
              "operation": "equal",
              "value2": "audioMessage"
            }
          ]
        }
      },
      "id": "Filter Message Type",
      "name": "Filter Message Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        420,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json.data || {};\nconst message = data.message || {};\nconst key = data.key || {};\nreturn [{\n  json: {\n    conversation_id: key.remoteJid,\n    customer_id: key.remoteJid,\n    provider_message_id: key.id,\n    text: message.conversation ?? message.extendedTextMessage?.text ?? \"\",\n    message_type: \"text\",\n    channel: \"whatsapp_evolution\",\n    language: \"ar-EG\",\n    tone: \"neutral\",\n    store_id: \"youlya\",\n    remote_jid: key.remoteJid,\n    instance_name: $node[\"Webhook\"].json.instance || \"YoulyaMain\"\n  }\n}];"
      },
      "id": "Normalize Message",
      "name": "Normalize Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.APP_INTERNAL_URL}}/api/internal/messages/turn",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-secret",
              "value": "={{$env.INTERNAL_API_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "Call Turn Endpoint",
      "name": "Call Turn Endpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        120
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.EVOLUTION_API_URL}}/message/sendText/{{$env.EVOLUTION_INSTANCE}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.EVOLUTION_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"number\": \"{{$json.number}}\", \"text\": \"{{$json.reply}}\"}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "Send Text",
      "name": "Send Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1580,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.APP_INTERNAL_URL}}/api/internal/dead-letter",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"raw_input\": $json, \"error_message\": $json.error?.message || 'turn endpoint failed', \"conversation_id\": $node[\"Normalize Message\"].json[\"conversation_id\"]}"
      },
      "id": "Dead Letter",
      "name": "Dead Letter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const action = $json.action || \"error\";\n\nconst reply =\n  $json.reply ||\n  $json.message ||\n  \"حصل خطأ تقني بسيط، ممكن تبعتي الرسالة تاني؟\";\n\nconst shouldSend = action !== \"duplicate_ignored\" && Boolean(reply);\n\nreturn [\n  {\n    json: {\n      ...$json,\n      action,\n      reply,\n      shouldSend,\n      number:\n        $node[\"Normalize Message\"].json.remote_jid ||\n        $node[\"Normalize Message\"].json.conversation_id,\n    },\n  },\n];"
      },
      "id": "Prepare Reply",
      "name": "Prepare Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.shouldSend}}",
              "value2": true
            }
          ],
          "string": []
        }
      },
      "id": "Should Send Reply",
      "name": "Should Send Reply",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1360,
        120
      ]
    }
  ],
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": null,
  "pinData": null,
  "versionId": "1aabc464-bec9-4371-93c9-3b54efab3420",
  "activeVersionId": "1aabc464-bec9-4371-93c9-3b54efab3420",
  "versionCounter": 13,
  "triggerCount": 1,
  "activeVersion": {
    "updatedAt": "2026-05-03T13:09:13.714Z",
    "createdAt": "2026-05-02T21:15:30.775Z",
    "versionId": "1aabc464-bec9-4371-93c9-3b54efab3420",
    "workflowId": "joqfame4HXG775JO",
    "nodes": [
      {
        "parameters": {
          "path": "youlya-whatsapp",
          "httpMethod": "POST",
          "responseMode": "onReceived"
        },
        "id": "Webhook",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          200,
          200
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [],
            "string": [
              {
                "value1": "={{$json.data.messageType || $json.data.type}}",
                "operation": "equal",
                "value2": "conversation"
              },
              {
                "value1": "={{$json.data.messageType || $json.data.type}}",
                "operation": "equal",
                "value2": "extendedTextMessage"
              },
              {
                "value1": "={{$json.data.messageType || $json.data.type}}",
                "operation": "equal",
                "value2": "audioMessage"
              }
            ]
          }
        },
        "id": "Filter Message Type",
        "name": "Filter Message Type",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          420,
          200
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $json.data || {};\nconst message = data.message || {};\nconst key = data.key || {};\nreturn [{\n  json: {\n    conversation_id: key.remoteJid,\n    customer_id: key.remoteJid,\n    provider_message_id: key.id,\n    text: message.conversation ?? message.extendedTextMessage?.text ?? \"\",\n    message_type: \"text\",\n    channel: \"whatsapp_evolution\",\n    language: \"ar-EG\",\n    tone: \"neutral\",\n    store_id: \"youlya\",\n    remote_jid: key.remoteJid,\n    instance_name: $node[\"Webhook\"].json.instance || \"YoulyaMain\"\n  }\n}];"
        },
        "id": "Normalize Message",
        "name": "Normalize Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          660,
          120
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{$env.APP_INTERNAL_URL}}/api/internal/messages/turn",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-internal-secret",
                "value": "={{$env.INTERNAL_API_SECRET}}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{$json}}",
          "options": {
            "timeout": 45000
          }
        },
        "id": "Call Turn Endpoint",
        "name": "Call Turn Endpoint",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          900,
          120
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{$env.EVOLUTION_API_URL}}/message/sendText/{{$env.EVOLUTION_INSTANCE}}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{$env.EVOLUTION_API_KEY}}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"number\": \"{{$json.number}}\", \"text\": \"{{$json.reply}}\"}",
          "options": {
            "timeout": 10000
          }
        },
        "id": "Send Text",
        "name": "Send Text",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1580,
          260
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{$env.APP_INTERNAL_URL}}/api/internal/dead-letter",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"raw_input\": $json, \"error_message\": $json.error?.message || 'turn endpoint failed', \"conversation_id\": $node[\"Normalize Message\"].json[\"conversation_id\"]}"
        },
        "id": "Dead Letter",
        "name": "Dead Letter",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1120,
          420
        ]
      },
      {
        "parameters": {
          "jsCode": "const action = $json.action || \"error\";\n\nconst reply =\n  $json.reply ||\n  $json.message ||\n  \"حصل خطأ تقني بسيط، ممكن تبعتي الرسالة تاني؟\";\n\nconst shouldSend = action !== \"duplicate_ignored\" && Boolean(reply);\n\nreturn [\n  {\n    json: {\n      ...$json,\n      action,\n      reply,\n      shouldSend,\n      number:\n        $node[\"Normalize Message\"].json.remote_jid ||\n        $node[\"Normalize Message\"].json.conversation_id,\n    },\n  },\n];"
        },
        "id": "Prepare Reply",
        "name": "Prepare Reply",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1140,
          120
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{$json.shouldSend}}",
                "value2": true
              }
            ],
            "string": []
          }
        },
        "id": "Should Send Reply",
        "name": "Should Send Reply",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1360,
          120
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Filter Message Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Message Type": {
        "main": [
          [
            {
              "node": "Normalize Message",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Normalize Message": {
        "main": [
          [
            {
              "node": "Call Turn Endpoint",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Turn Endpoint": {
        "main": [
          [
            {
              "node": "Prepare Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Reply": {
        "main": [
          [
            {
              "node": "Should Send Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Should Send Reply": {
        "main": [
          [
            {
              "node": "Send Text",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      }
    },
    "authors": "ahmed proideaegypt@gmail.com",
    "name": "Version 1aabc464",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-02T21:15:39.064Z",
        "id": 243,
        "workflowId": "joqfame4HXG775JO",
        "versionId": "1aabc464-bec9-4371-93c9-3b54efab3420",
        "event": "activated",
        "userId": "b3269cfb-a6e4-413f-ae29-17fbff9e2c07"
      },
      {
        "createdAt": "2026-05-03T13:09:09.572Z",
        "id": 244,
        "workflowId": "joqfame4HXG775JO",
        "versionId": "1aabc464-bec9-4371-93c9-3b54efab3420",
        "event": "deactivated",
        "userId": "b3269cfb-a6e4-413f-ae29-17fbff9e2c07"
      },
      {
        "createdAt": "2026-05-03T13:09:13.652Z",
        "id": 245,
        "workflowId": "joqfame4HXG775JO",
        "versionId": "1aabc464-bec9-4371-93c9-3b54efab3420",
        "event": "activated",
        "userId": "b3269cfb-a6e4-413f-ae29-17fbff9e2c07"
      }
    ]
  }
}
