n8n/backups/workflow-joqfame4HXG775JO-update-payload.json
{
  "name": "Youlya WhatsApp Main",
  "nodes": [
    {
      "parameters": {
        "path": "youlya-whatsapp",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        200,
        200
      ],
      "webhookId": "youlya-whatsapp-main-webhook"
    },
    {
      "parameters": {
        "jsCode": "const root = $json.body ?? $json;\nconst data = root.data ?? root;\nconst key = data.key ?? {};\nconst message = data.message ?? {};\n\nconst fromMe =\n  key.fromMe === true ||\n  data.fromMe === true ||\n  root.fromMe === true;\n\nconst remoteJid =\n  key.remoteJid ||\n  data.remoteJid ||\n  data.remote_jid ||\n  root.remoteJid ||\n  root.remote_jid ||\n  data.from ||\n  root.from ||\n  \"\";\n\nconst text =\n  message.conversation ||\n  message.extendedTextMessage?.text ||\n  message.imageMessage?.caption ||\n  data.text ||\n  root.text ||\n  \"\";\n\nconst messageType =\n  data.messageType ||\n  data.type ||\n  root.messageType ||\n  root.type ||\n  \"\";\n\nconst ignoredReasons = [];\n\nif (fromMe) ignoredReasons.push(\"fromMe_outgoing_message\");\nif (!remoteJid) ignoredReasons.push(\"missing_remote_jid\");\nif (String(remoteJid).includes(\"status@broadcast\")) ignoredReasons.push(\"status_broadcast\");\nif (String(remoteJid).endsWith(\"@g.us\")) ignoredReasons.push(\"group_message_ignored\");\nif (!String(text).trim()) ignoredReasons.push(\"empty_text\");\n\nif (ignoredReasons.length > 0) {\n  return [];\n}\n\nreturn [\n  {\n    json: {\n      ...$json,\n      _guard: {\n        passed: true,\n        remoteJid,\n        messageType,\n        textPreview: String(text).slice(0, 40),\n      },\n    },\n  },\n];"
      },
      "id": "Guard Inbound Customer Message",
      "name": "Guard Inbound Customer Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "string": [
            {
              "value1": "={{$json.data.messageType || $json.data.type}}",
              "operation": "equal",
              "value2": "conversation"
            },
            {
              "value1": "={{$json.data.messageType || $json.data.type}}",
              "operation": "equal",
              "value2": "extendedTextMessage"
            },
            {
              "value1": "={{$json.data.messageType || $json.data.type}}",
              "operation": "equal",
              "value2": "audioMessage"
            }
          ]
        }
      },
      "id": "Filter Message Type",
      "name": "Filter Message Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const root = $json.body ?? $json;\nconst data = root.data ?? root;\nconst key = data.key ?? {};\nif (key.fromMe === true || data.fromMe === true || root.fromMe === true) {\n  return [];\n}\nconst message = data.message || {};\nconst remoteJid = String(key.remoteJid || \"\");\nconst sendNumber = remoteJid\n  .replace(/@s\\.whatsapp\\.net$/i, \"\")\n  .replace(/@c\\.us$/i, \"\")\n  .replace(/@g\\.us$/i, \"\")\n  .replace(/\\D/g, \"\");\nreturn [{\n  json: {\n    conversation_id: remoteJid,\n    customer_id: remoteJid,\n    provider_message_id: key.id,\n    text: message.conversation ?? message.extendedTextMessage?.text ?? \"\",\n    message_type: \"text\",\n    channel: \"whatsapp_evolution\",\n    language: \"ar-EG\",\n    tone: \"neutral\",\n    store_id: \"youlya\",\n    remote_jid: remoteJid,\n    send_number: sendNumber,\n    instance_name: $node[\"Webhook\"].json.body?.instance || $node[\"Webhook\"].json.instance || \"YoulyaMain\"\n  }\n}];"
      },
      "id": "Normalize Message",
      "name": "Normalize Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.APP_INTERNAL_URL}}/api/internal/messages/turn",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-secret",
              "value": "={{$env.INTERNAL_API_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "Call Turn Endpoint",
      "name": "Call Turn Endpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        120
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "\nif ($json.shouldSend === false || $json.action === \"duplicate_ignored\") {\n  return [];\n}\n\nconst rawNumber =\n  $json.number ||\n  $node[\"Normalize Message\"].json.remote_jid ||\n  $node[\"Normalize Message\"].json.conversation_id;\n\nconst number = String(rawNumber || \"\")\n  .replace(\"@s.whatsapp.net\", \"\")\n  .replace(\"@c.us\", \"\")\n  .replace(/\\D/g, \"\");\n\nconst text =\n  $json.reply ||\n  $json.message ||\n  \"حصل خطأ تقني بسيط، ممكن تبعتي الرسالة تاني؟\";\n\nreturn [\n  {\n    json: {\n      ...$json,\n      evolutionPayload: {\n        number,\n        text,\n      },\n    },\n  },\n];\n"
      },
      "id": "Prepare Evolution Payload",
      "name": "Prepare Evolution Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.EVOLUTION_API_URL}}/message/sendText/{{$env.EVOLUTION_INSTANCE}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.EVOLUTION_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.evolutionPayload && $json.evolutionPayload.number ? $json.evolutionPayload.number : $json.number, text: $json.evolutionPayload && $json.evolutionPayload.text ? $json.evolutionPayload.text : $json.reply }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "Send Text",
      "name": "Send Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3280,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.APP_INTERNAL_URL}}/api/internal/dead-letter",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"raw_input\": $json, \"error_message\": $json.error?.message || 'turn endpoint failed', \"conversation_id\": $node[\"Normalize Message\"].json[\"conversation_id\"]}"
      },
      "id": "Dead Letter",
      "name": "Dead Letter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1360,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const app = $json;\nconst appReply = String(app.reply || app.message || \"\").trim();\nconst appAction = String(app.action || \"ai_reply\");\nconst appIntent = String(app.intent || \"fallback\");\nconst haidiContext = app.haidi_context || {};\nconst commerceFacts = haidiContext.commerceFacts || {};\nconst language = String(haidiContext.language || \"ar-EG\");\nconst styleInstructions = haidiContext.styleInstructions || {};\nconst customerText = String(haidiContext.customer_text || \"\");\n\nconst systemPrompt = \"You are Haidi, the warm, smart Egyptian Arabic sales assistant for YOULYA HOME WEAR.\\n\\nIdentity:\\n- Your name is Haidi.\\n- You represent YOULYA HOME WEAR.\\n- You speak mainly Egyptian Arabic by default.\\n- You sound like a clever real human sales assistant, not a generic chatbot.\\n- You are warm, feminine, helpful, natural, concise, and sales-aware.\\n- You can use light emojis, but do not overuse them.\\n- You help the customer choose the right homewear product.\\n\\nYour selling style:\\n- Understand what the customer really wants even if the message is messy.\\n- Ask one clear question when needed.\\n- Recommend products based on material, color, size, style, occasion, comfort, and availability.\\n- If customer asks for cotton, focus on cotton/soft/breathable products only if confirmed by product facts.\\n- If customer asks for a color, recommend matching or close colors only if product facts provide them.\\n- If customer asks for a size, mention available sizes only if product facts provide them.\\n- If customer is browsing, show a few good options and guide them gently.\\n- If customer chose a product, help complete the cart.\\n- If customer is close to free shipping threshold and app says upsell is allowed, suggest one relevant add-on.\\n- If customer picked pajamas, you may suggest robe/slippers/accessory only if app provides allowed upsell products.\\n- If customer seems uncertain, reduce options and ask a simple choice question.\\n- If customer is angry, confused, or asks for a human, suggest handoff.\\n\\nCommerce safety rules:\\n- Never invent product title, material, color, size, price, SKU, inventory, discount, shipping, or delivery date.\\n- Never claim a product exists unless it is in app-provided product facts.\\n- Never say a size/color is available unless app-provided facts confirm it.\\n- Never use memory to resolve product indexes like \\\"رقم ١\\\".\\n- Product index resolution must be done by Youlya app from last_product_recommendations.\\n- Never create or confirm an order yourself.\\n- Never say order confirmed unless app action is order_created.\\n- Never bypass missing address/phone/city/confirmation.\\n- Never create or imply Shopify order before explicit customer confirmation.\\n- If app says blocked, unavailable, out of stock, missing data, duplicate, handoff, or kill switch, follow the app result.\\n- If product facts are missing, ask a clarification or say you will check.\\n\\nMemory rules:\\n- You may remember conversational preferences, tone, and broad interests.\\n- You may remember that the customer likes soft cotton, certain colors, or short replies.\\n- Do not remember or rely on product index mapping.\\n- Do not remember or rely on price/stock/variant ID from chat memory.\\n- Product/variant truth comes only from app facts.\\n\\nUpsell rules:\\n- One upsell only per cart flow unless app explicitly allows more.\\n- Upsell must be relevant:\\n  pajamas → robe/slippers/homewear add-on\\n  cotton → similar soft cotton pieces\\n  specific color → matching/neutral color if available\\n  high subtotal near free shipping → small add-on if app allows\\n- Do not upsell to angry customers.\\n- Do not upsell during complaints, delivery problems, or handoff.\\n- Do not upsell unavailable products.\\n- Do not pretend there is an offer unless app facts provide it.\\n\\nInput format:\\nYou receive JSON with:\\n- app_reply: the safe reply from the Youlya commerce brain\\n- action: the app action (ai_reply, product_results, order_created, handoff, error, etc.)\\n- intent: detected intent\\n- haidi_context:\\n  - language: ar-EG or en\\n  - customer_text: original customer message\\n  - reply_goal: present_product_options | ask_size | confirm_cart | handoff | fallback\\n  - commerce_facts:\\n    - products: array of product facts (max 10)\\n    - cart: { itemsCount, subtotal, missingFields }\\n    - allowedUpsells: array of upsell products (max 3)\\n    - blockedReason: null or string\\n  - style_instructions:\\n    - tone: warm_egyptian_sales\\n    - must_include: array of strings\\n    - must_not_say: array of strings\\n\\nOutput format:\\nReturn valid JSON only:\\n{\\n  \\\"final_reply\\\": string,\\n  \\\"intent_label\\\": \\\"greeting\\\" | \\\"product_search\\\" | \\\"select_product\\\" | \\\"collect_address\\\" | \\\"confirm_order\\\" | \\\"handoff\\\" | \\\"unclear\\\" | \\\"support\\\" | \\\"fallback\\\",\\n  \\\"tone\\\": \\\"friendly\\\" | \\\"premium\\\" | \\\"concise\\\" | \\\"excited\\\" | \\\"empathetic\\\" | \\\"neutral\\\",\\n  \\\"used_upsell\\\": boolean,\\n  \\\"recommended_next_step\\\": string,\\n  \\\"safety_notes\\\": string[]\\n}\\n\\nNo markdown.\\nNo internal IDs to the customer unless app explicitly allows.\\nNo raw JSON in customer-facing reply.\\nReturn valid JSON only.\";\n\nconst userPayload = {\n  app_reply: appReply,\n  action: appAction,\n  intent: appIntent,\n  haidi_context: {\n    language,\n    customer_text: customerText,\n    reply_goal: haidiContext.replyGoal || \"fallback\",\n    commerce_facts: commerceFacts,\n    style_instructions: styleInstructions,\n  }\n};\n\nconst messages = [\n  { role: \"system\", content: systemPrompt + \"\\n\\nReturn valid JSON only.\" },\n  { role: \"user\", content: \"Return JSON only. Input JSON: \" + JSON.stringify(userPayload) }\n];\n\nreturn [{ json: { messages } }];"
      },
      "id": "Build Haidi Prompt",
      "name": "Build Haidi Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.HAIDI_MODEL || 'gpt-4o-mini', messages: $json.messages, response_format: { type: 'json_object' } }) }}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "Call OpenAI",
      "name": "Call OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1840,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json;\nlet content = \"\";\nif (raw.choices && Array.isArray(raw.choices) && raw.choices[0] && raw.choices[0].message) {\n  content = raw.choices[0].message.content || \"\";\n}\nlet parsed = {};\nif (typeof content === \"string\" && content.trim()) {\n  try {\n    parsed = JSON.parse(content);\n  } catch (e) {\n    parsed = { parse_error: true, raw_content: content };\n  }\n} else {\n  parsed = { parse_error: true, raw_response: raw };\n}\nreturn [{ json: parsed }];"
      },
      "id": "Parse Haidi Response",
      "name": "Parse Haidi Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract from OpenAI response wrapper if present\nif ($json && $json.choices && Array.isArray($json.choices) && $json.choices[0] && $json.choices[0].message) {\n  const content = $json.choices[0].message.content || \"\";\n  if (typeof content === \"string\" && content.trim()) {\n    try {\n      $json = JSON.parse(content);\n    } catch (e) {\n      // leave as-is, let existing logic fallback\n    }\n  }\n}\n\nconst app = $node[\"Call Turn Endpoint\"].json || {};\nconst appReply = String(app.reply || app.message || \"حصل خطأ تقني بسيط، ممكن تبعتي الرسالة تاني؟\");\nconst appAction = String(app.action || \"error\");\nconst haidiContext = app.haidi_context || {};\nconst facts = haidiContext.commerceFacts || {};\nconst products = Array.isArray(facts.products) ? facts.products : [];\nconst raw = $json;\nconst haidiSessionKey = String((raw && raw.haidi_session_key) || (raw && raw.haidi_memory && raw.haidi_memory.sessionKey) || \"\");\n\nfunction fallback(reason) {\n  return [{\n    json: {\n      ...app,\n      reply: appReply,\n      action: appAction,\n      haidi_valid: false,\n      haidi_fallback: true,\n      validation_reason: reason,\n      number: $node[\"Normalize Message\"].json.send_number,\n    },\n  }];\n}\n\nlet candidate = raw;\nif (typeof candidate === \"string\") {\n  try {\n    candidate = JSON.parse(candidate);\n  } catch (error) {\n    return fallback(\"invalid_json\");\n  }\n}\nif (candidate && candidate.output && typeof candidate.output === \"object\") {\n  candidate = candidate.output;\n}\nif (!candidate || typeof candidate !== \"object\") {\n  return fallback(\"not_an_object\");\n}\n\nconst finalReply = candidate.final_reply;\nif (typeof finalReply !== \"string\" || !finalReply.trim()) {\n  return fallback(\"missing_final_reply\");\n}\n\nconst unsafeOrderClaims = [\n  \"تم تأكيد الأوردر\",\n  \"الأوردر اتعمل\",\n  \"الأوردر اتأكد\",\n  \"تم إنشاء الأوردر\",\n  \"order confirmed\",\n  \"order created\",\n  \"order placed\",\n  \"your order is confirmed\",\n];\nif (appAction !== \"order_created\") {\n  const lower = finalReply.toLowerCase();\n  if (unsafeOrderClaims.some((phrase) => lower.includes(phrase.toLowerCase()))) {\n    return fallback(\"unsafe_order_claim\");\n  }\n}\n\nconst internalIdPatterns = [\n  /gid:\\/\\//i,\n  /provider_message_id/i,\n  /conversation_id/i,\n  /customer_id/i,\n  /store_id/i,\n  /variant_id/i,\n  /shopify_order_id/i,\n  /shopify_variant_id/i,\n  /remote_jid/i,\n  /#MOCK-/i,\n  /mock-/i,\n];\nif (internalIdPatterns.some((pattern) => pattern.test(finalReply))) {\n  return fallback(\"internal_identifier_leak\");\n}\n\nconst lowerFinalReply = finalReply.toLowerCase();\nconst hasPriceClaim =\n  /\\d/.test(finalReply) &&\n  (\n    lowerFinalReply.includes(\"جنيه\") ||\n    lowerFinalReply.includes(\"ج.م\") ||\n    lowerFinalReply.includes(\"egp\") ||\n    lowerFinalReply.includes(\"ريال\") ||\n    lowerFinalReply.includes(\"sar\") ||\n    lowerFinalReply.includes(\"usd\")\n  );\nconst hasStockClaim =\n  lowerFinalReply.includes(\"متوفر\") ||\n  lowerFinalReply.includes(\"غير متوفر\") ||\n  lowerFinalReply.includes(\"available\") ||\n  lowerFinalReply.includes(\"in stock\") ||\n  lowerFinalReply.includes(\"out of stock\") ||\n  lowerFinalReply.includes(\"stock\") ||\n  lowerFinalReply.includes(\"خلص\") ||\n  lowerFinalReply.includes(\"نفد\");\nconst knownPrices = products\n  .map((product) => product.price)\n  .filter((price) => typeof price === \"number\" && Number.isFinite(price))\n  .map((price) => String(price));\nif (hasPriceClaim && !knownPrices.some((price) => finalReply.includes(price))) {\n  return fallback(\"unsupported_price_claim\");\n}\nif (hasStockClaim) {\n  const hasAvailableFact = products.some((product) => product.available === true);\n  const hasUnavailableFact = products.some((product) => product.available === false);\n  const mentionsAvailable = lowerFinalReply.includes(\"متوفر\") || lowerFinalReply.includes(\"available\") || lowerFinalReply.includes(\"in stock\");\n  const mentionsUnavailable = lowerFinalReply.includes(\"غير متوفر\") || lowerFinalReply.includes(\"out of stock\") || lowerFinalReply.includes(\"نفد\") || lowerFinalReply.includes(\"خلص\");\n  if (mentionsAvailable && !hasAvailableFact) {\n    return fallback(\"unsupported_stock_claim\");\n  }\n  if (mentionsUnavailable && !hasUnavailableFact && facts.blockedReason !== \"out_of_stock\") {\n    return fallback(\"unsupported_stock_claim\");\n  }\n}\n\nconst allowedIntents = [\n  \"greeting\",\n  \"product_search\",\n  \"select_product\",\n  \"collect_address\",\n  \"confirm_order\",\n  \"handoff\",\n  \"unclear\",\n  \"support\",\n  \"fallback\",\n];\nconst allowedTones = [\"friendly\", \"premium\", \"concise\", \"excited\", \"empathetic\", \"neutral\"];\n\nconst intentLabel =\n  typeof candidate.intent_label === \"string\" && allowedIntents.includes(candidate.intent_label)\n    ? candidate.intent_label\n    : \"fallback\";\nconst tone =\n  typeof candidate.tone === \"string\" && allowedTones.includes(candidate.tone)\n    ? candidate.tone\n    : \"friendly\";\nconst usedUpsell = typeof candidate.used_upsell === \"boolean\" ? candidate.used_upsell : false;\nconst recommendedNextStep =\n  typeof candidate.recommended_next_step === \"string\" ? candidate.recommended_next_step : \"\";\nconst safetyNotes = Array.isArray(candidate.safety_notes)\n  ? candidate.safety_notes.filter((item) => typeof item === \"string\")\n  : [];\n\nreturn [{\n  json: {\n    ...app,\n    reply: finalReply.trim(),\n    action: appAction,\n    haidi_valid: true,\n    haidi_fallback: false,\n    haidi_output: {\n      final_reply: finalReply.trim(),\n      intent_label: intentLabel,\n      tone,\n      used_upsell: usedUpsell,\n      recommended_next_step: recommendedNextStep,\n      haidi_session_key: haidiSessionKey,\n      safety_notes: safetyNotes,\n    },\n    haidi_bypassed: false,\n    haidi_session_key: haidiSessionKey,\n    number: $node[\"Normalize Message\"].json.send_number,\n  },\n}];\n"
      },
      "id": "Validate Haidi Output",
      "name": "Validate Haidi Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst normalized = $node[\"Normalize Message\"].json || {};\nconst conversationId = String(normalized.conversation_id || \"\");\nconst remoteJid = String(normalized.remote_jid || \"\");\nconst sessionKey = String(conversationId || remoteJid || \"\").trim();\n\nreturn [{\n  json: {\n    ...$json,\n    haidi_memory: {\n      sessionKey,\n      conversation_id: conversationId,\n      remote_jid: remoteJid,\n    },\n    haidi_session_key: sessionKey,\n  },\n}];\n"
      },
      "id": "Haidi Session Memory",
      "name": "Haidi Session Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const action = $json.action || \"error\";\n\nconst reply =\n  $json.reply ||\n  $json.message ||\n  \"حصل خطأ تقني بسيط، ممكن تبعتي الرسالة تاني؟\";\n\nconst normalized = $node[\"Normalize Message\"].json;\nconst fallbackNumber = String(normalized.send_number || normalized.remote_jid || normalized.conversation_id || \"\")\n  .replace(/@s\\.whatsapp\\.net$/i, \"\")\n  .replace(/@c\\.us$/i, \"\")\n  .replace(/@g\\.us$/i, \"\")\n  .replace(/\\D/g, \"\");\n\nconst number = $json.number || normalized.send_number || fallbackNumber;\nconst shouldSend = action !== \"duplicate_ignored\" && Boolean(reply) && Boolean(number);\n\nreturn [\n  {\n    json: {\n      ...$json,\n      action,\n      reply,\n      shouldSend,\n      number,\n    },\n  },\n];"
      },
      "id": "Prepare Reply",
      "name": "Prepare Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.shouldSend}}",
              "value2": true
            }
          ],
          "string": []
        }
      },
      "id": "Should Send Reply",
      "name": "Should Send Reply",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2800,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "string": [
            {
              "value1": "={{$json.action}}",
              "operation": "equal",
              "value2": "handoff"
            },
            {
              "value1": "={{$json.action}}",
              "operation": "equal",
              "value2": "error"
            }
          ]
        }
      },
      "id": "Check Handoff Bypass",
      "name": "Check Handoff Bypass",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const app = $json;\nconst appReply = String(app.reply || app.message || \"حصل خطأ تقني بسيط، ممكن تبعتي الرسالة تاني؟\").trim();\nconst appAction = String(app.action || \"error\");\nconst haidiSessionKey = String(app.haidi_session_key || app.haidi_memory?.sessionKey || \"\");\n\nreturn [{\n  json: {\n    ...app,\n    reply: appReply,\n    action: appAction,\n    haidi_valid: true,\n    haidi_bypassed: true,\n    haidi_fallback: false,\n    haidi_output: {\n      final_reply: appReply,\n      intent_label: appAction === \"handoff\" ? \"handoff\" : \"fallback\",\n      tone: \"friendly\",\n      used_upsell: false,\n      recommended_next_step: appAction === \"handoff\" ? \"human_handoff\" : \"continue\",\n      haidi_session_key: haidiSessionKey,\n      safety_notes: [\"haidi_bypassed:\" + appAction],\n    },\n    haidi_session_key: haidiSessionKey,\n    number: $node[\"Normalize Message\"].json.send_number,\n  },\n}];"
      },
      "id": "Bypass Haidi",
      "name": "Bypass Haidi",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        40
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Guard Inbound Customer Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard Inbound Customer Message": {
      "main": [
        [
          {
            "node": "Filter Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Message Type": {
      "main": [
        [
          {
            "node": "Normalize Message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Normalize Message": {
      "main": [
        [
          {
            "node": "Call Turn Endpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Turn Endpoint": {
      "main": [
        [
          {
            "node": "Haidi Session Memory",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Dead Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Reply": {
      "main": [
        [
          {
            "node": "Should Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Reply": {
      "main": [
        [
          {
            "node": "Prepare Evolution Payload",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare Evolution Payload": {
      "main": [
        [
          {
            "node": "Send Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Haidi Output": {
      "main": [
        [
          {
            "node": "Prepare Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Haidi Session Memory": {
      "main": [
        [
          {
            "node": "Check Handoff Bypass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Haidi Prompt": {
      "main": [
        [
          {
            "node": "Call OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI": {
      "main": [
        [
          {
            "node": "Parse Haidi Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Haidi Response": {
      "main": [
        [
          {
            "node": "Validate Haidi Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Handoff Bypass": {
      "main": [
        [
          {
            "node": "Bypass Haidi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Haidi Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bypass Haidi": {
      "main": [
        [
          {
            "node": "Prepare Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}